#infoPanel {
    color: #8a8a8a;
    width: 80%;
    height: 80%;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
    margin: 20px;
    overflow: hidden;
    text-align: justify;
    font-family: Verdana,Arial,sans-serif;
}
#best_viewed {
    font-size: 1.5em;
    font-weight: bold;
    color: #8a8a8a;
    margin: 20px;
}
#aboutBCC img {
    vertical-align: middle;
}
#howToUse_details img, #features_details img {
    max-height: 300px;
    border: solid 1px;
    margin: 5px;
}
h2 {
    margin: 30px;
}
div#howToUse_details, div#features_details {
    text-align: center;
    position: relative;
}
#howToUse_details td, #features_details td {
    text-align: justify;
    padding: 10px;
}
td.img_container, #howToUse_details td.img_container, #features_details td.img_container {
    text-align: center;
}
#howToUse_details td, #features_details td {
    border-bottom: solid 2px;
    border-collapse: collapse;
}
#aboutBCC>h1, #infoPanel h1 {
    font-size: 2em;
}
.top_bar {
    position: absolute;
    background: #f1f1f1;
    width: 100%;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 1;
}
.top_bar #title {
    text-align: center;
}
div#aboutBCC {
    margin-top: 60px;
    height: 100%;
}
div#about_content {
    overflow: auto;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
button.close_button {
    background: #f7f7f7;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 5px;
    background-image: url(../img/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
}
button.close_button:hover {
    background-image: url(../img/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
}
#about_content section {
    margin-bottom: 40px;
}
#howToUse_details h3, #features_details h3 {
    text-align: center;
}
section#user_manual_download>a {
    font-size: 1.5em;
    font-weight: bold;
}
section#user_manual_download img {
    margin-right: 10px;
}
img#estat_logo_info {
    margin-bottom: 50px;
}
.userManualLink a, .userManualLink a:visited {
    color: #8a8a8a !important;
}