canvas.jqplot-series-canvas {
    z-index: 1;
}
canvas.jqplot-event-canvas {
    z-index: 1;
}
.jqplot-cursor-tooltip {
    z-index: 1;
}
canvas.jqplot-series-canvas {
    z-index: 1;
}
canvas.jqplot-event-canvas {
    z-index: 1;
}
.jqplot-cursor-tooltip {
    z-index: 1;
}
.jqplot-canvasOverlay-label {
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 0.8em;
    color: #999999;
}
.jqplot-canvasOverlay-label {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    top:20px!important;
}
td.jqplot-table-legend.jqplot-seriesToggle.jqplot-series-hidden {
    display: none;
}
.jqplot-cursor-tooltip .tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777;
    -moz-box-shadow: 7px 7px 12px -9px #777;
    box-shadow: 7px 7px 12px -9px #777;
    opacity: .9;
}
.tooltip tr {
    border: 1px solid #CCC;
}
.tooltip th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #FFF;
}
.tooltip td {
    font-size: 13px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999;
}
.c3-tooltip td>span, .tooltip td>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
}
.hover-highlight:hover {
    background: #ffffff;
}
.hover-highlight:hover {
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5, Color=#C8C1C1);
}
.selectable.selected {
    zoom: 1;
    filter: ;
}
